@import "../../styles/settings";
@import "../LoadButton/LoadButton.scss";

.Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.6);
}

.Modal {
  background: white;
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.Modal-button {
  @extend .LoadButton;
}

.Modal-title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
