@import "../../styles/settings";
@import "../LoadButton/LoadButton.scss";

.ErrorPopup-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.6);
}

.ErrorPopup-modal {
  background: white;
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.ErrorPopup-text {
  font-size: $font-size-small;
  line-height: 1;
}

.ErrorPopup-button {
  @extend .LoadButton;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem;
}

.ErrorPopup-title {
  margin: 0 0 $m-size 0;
  line-height: 1;
  font-size: $font-size-xlarge;
  font-weight: 700;
}
