@import "../../styles/settings";
@import "../PagingButton/PagingButton.scss";

.ErrorModal-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.6);
}

.ErrorModal-modal {
  background: white;
  border-radius: 4px;
  padding: $l-size $m-size;
  text-align: center;
  min-width: 20rem;
  max-width: 90%;
}

.ErrorModal-text {
  font-size: $font-size-small;
  line-height: 1;
}

.ErrorModal-button {
  @extend .PagingButton;
  font-size: $font-size-small;
  padding: $xs-size;
}

.ErrorModal-title {
  margin: 0 0 $m-size 0;
  line-height: 1;
  font-size: $font-size-xlarge;
  font-weight: 700;
}
